@import "fonts.scss";

@mixin sans-serif($font){
  font-family: $font, 'Arial', sans-serif;
}

$site-width: 1920px;
$header-line-width: $site-width - ( 376 * 2 );

.transition, .transition:hover{
  transition: 400ms;
}
.transition:active{
  transition: 100ms;
}

.standart-h3{
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  @include sans-serif('Raleway');
}

.section-content{
  max-width: 760px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.section-content-text{
  margin: 19px 0 0 0;
}

.conteiner {
  width: $site-width;
  margin: 0 auto;
  @include sans-serif('Montserrat');
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.site-header{
  background: rgba(0, 0, 0, .65) url(../img/header-bground.jpg);
  background-size: cover;
  background-blend-mode: darken;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
}

.header-top-line{
  width: $header-line-width;
  height: 56px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.top-line-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.top-line-logo-img{
  fill: #fff;
  width: 64px;
  height: 56px;
}

.top-line-logo-text{
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  @include sans-serif('Raleway');
}

.top-line-logo:hover{
  .top-line-logo-img{
    fill: #c7b299;
  }
  .top-line-logo-text{
    color: #c7b299;
  }
}

.top-line-logo:active{
  .top-line-logo-img{
    fill: #fff;
  }
  .top-line-logo-text{
    color: #fff;
  }
}


.top-line-navigation{
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

#mobile-menu-checkbox{
  display: none;
}

.top-line-navigation-menu{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 35px;
}

.top-line-navigation-menu-item{
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 0 0 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.top-line-navigation-menu-item:hover{
  color: #c7b299;
}

.top-line-navigation-menu-item:active{
  color: #fff;
}

.top-line-navigation-card{
  height: 24px;
  margin: 0 0 0 28px;
}

.top-line-navigation-card .navigation-card__svg{
  fill: #fff;
}

.top-line-navigation-card:hover .navigation-card__svg{
  fill: #c7b299;
}

.top-line-navigation-card:active .navigation-card__svg{
  fill: #fff;
}

.top-line-navigation-search{
  width: 24px;
  height: 24px;
  margin: 0 0 0 28px;
  position: relative;
}

.navigation-search__lable{
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navigation-search__svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.navigation-search__lable:hover .navigation-search__svg {
  fill: #c7b299;
}

.navigation-search__lable:active .navigation-search__svg {
  fill: #fff;
}

.navigation-search_input{
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -164px;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  @include sans-serif('Montserrat');
}

.navigation-search_input:focus {
    width: 195px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
  }
  
  .navigation-search_input:focus ~ .navigation-search__lable>.navigation-search__svg {
    fill: #c7b299;
  }

.header-carousel{
  margin: 285px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carousel-left, .carousel-right{
  display: block;
  width: 20px;
  height: 20px;
  margin: 40px;
  position: relative;
}

.carousel-left::after,
.carousel-right::after{
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid #fff;
  position: absolute;
  top: -10px;
  opacity: 0.5;
}

.carousel-left::after,
.carousel-right::before{
  transform: rotate(-45deg);
}

.carousel-left::before,
.carousel-right::before{
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid #fff;
  position: absolute;
  top: 28px;
  opacity: 0.5;
}

.carousel-left::after,
.carousel-left::before{
  left: -50px;
}

.carousel-right::after,
.carousel-right::before{
  right: -50px;
}

.carousel-left::before,
.carousel-right::after{
  transform: rotate(45deg);
}

.carousel-left:hover::before,
.carousel-left:hover::after,
.carousel-right:hover::before,
.carousel-right:hover::after{
  border: 2px solid #c7b299;
}

.carousel-left:active::before,
.carousel-left:active::after,
.carousel-right:active::before,
.carousel-right:active::after{
  border: 2px solid #fff;
} 

.header-content{
  // margin: 285px 0 0 0;
  text-align: center;
  width: 600px;
  margin: 0 400px; // Подгоню по pixel в pixel
  box-sizing: border-box;
  // position: relative;
}

// .header-content:before{
//   content: "";
//   position: absolute;
//   background-image: url(../img/left_11970.png);
//   background-size: cover;
//   top: 100px;
//   left: 0px;
//   width: 40px;
//   height: 73px;
//   opacity: 0.5;
// }

// .header-content:after{
//   content: "";
//   position: absolute;
//   background-image: url(../img/right_11969.png);
//   background-size: cover;
//   top: 100px;
//   right: 0px;
//   width: 40px;
//   height: 73px;
//   opacity: 0.5;
// }

.header-content-preview{
  display: block;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  @include sans-serif('Raleway');
}

.header-content-h1{
  display: block;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  @include sans-serif('Raleway');
  margin: 0 0 5px 0;
}

.header-content-button{
  display: inline-block;
  border: none;
  margin: 52px auto 0 auto;
  padding: 14px 37px;
  box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  color: #fff;
  border-bottom: 3px solid #736357;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  @include sans-serif('Raleway');
  cursor: pointer;
  word-break: break-all;
}

.header-content-text{
  margin: 0;
}

.header-content-button:hover{
  background-color: #fff;
  color: #998675;
}

.header-content-button:active{
  background-color: #998675;
  color: #fff;
}

.site-header-navigation{
  width: 100%;
  margin: 327px 0 0 0;
  display: flex;
  justify-content: center;
}

.site-header-navigation-marker{
  display: block;
  text-decoration: none;
  width: 9px;
  height: 9px;
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.site-header-navigation-marker:hover{
  background-color: black;
  border: 2px solid #d3c1ad;
}

.site-header-navigation-marker:active{
  border: 2px solid transparent;
  background-color: #ffffff;
}

.advantage{
  margin: 80px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantage-features{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
  margin: 0;
}

.advantage-features::after{
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;;
}

.advantage-features:hover .advantage-features-icon{
  fill: #c7b299;
}

.advantage-features:hover .advantage-features-title{
  color: #c7b299;
}

.advantage-features:hover::after{
  background-color: #c7b299;
}

.advantage-features-icon{
  display: block;
  fill: #555555;
  width: 52px;
  height: 52px;
  margin: 0 0 30px 0;
}

.advantage-features-title{
  width: 100%;
  margin: 0 0 19px 0;
  text-align: center;
  @include sans-serif('Raleway');
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  margin: 0 0 10px 0;
}

.advantage-features-txt{
  text-align: center;
  color: #8c8c8c;
  font-size: 14px;
  margin: 0 0 30px 0;
}

.portfolio{
  margin: 70px 0 0 0;
  padding: 80px 0 0 0;
  background-color: #fbfaf8;
}

.portfolio-multi_photo {
  width: 1228px;
  margin: 0 auto;
  min-height: 482px;
  background-image: url('../img/portfolio_center.jpg'),
                    url('../img/portfolio_left.jpg'),
                    url('../img/portfolio_right.jpg');
  background-size: 770px 482px, 770px 400px, 770px 400px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.advertising{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  box-sizing: border-box;
  background-image: linear-gradient( 0deg, rgb(33,27,25) 0%, rgb(78,52,39) 100%);
}

.advertising-wrapper{
  width: 531px;
  margin: 0 470px 0 0;
}

.advertising-title{
  width: 100%;
  margin: 0;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  @include sans-serif('Raleway');
}

.advertising-title span{
  color: rgb(199, 178, 153);
}

.advertising-txt{
  width: 100%;
  margin: 0;
  font-size: 18px;
  color: rgb(97, 88, 85);
  line-height: 1.2;
  text-align: left;
}

.advertising-button{
  width: 170px;
  min-height: 50px;
  border: none;
  border-bottom: 2px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  border-bottom: 3px solid #736357;
  box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  cursor: pointer;
  outline: none;
}

.advertising-button-txt{
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
  @include sans-serif('Raleway');
}

.advertising-button:hover{
  background-color: #fff;
}

.advertising-button:hover .advertising-button-txt{
  color: #998675;
}

.advertising-button:active{
  background-color: #998675;
}

.advertising-button:active .advertising-button-txt{
  color: #fff;
}

.latest{
  padding: 80px;
  box-sizing: border-box;
  background-color: #fff;
}

.latest-buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 40px 0 35px 0;
}

.latest-buttons-item{
  padding: 5px 19px;
  min-width: 70px;
  box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 3px solid #736357;
  cursor: pointer;
  margin: 0 10px 0 0;
  text-transform: capitalize;
}

.latest-buttons-item:hover{
  background-color: #fff;
  color: #998675;
}

.latest-buttons-item:active{
  background-color: #998675;
  color: #fff;
}

.latest-images{
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
}

.latest-images-link{
  position: relative;
  background-color: #fbfaf8;
  text-decoration: none;
  margin: 0 30px 30px 0;
  cursor: auto;
}

.latest-images-link:nth-child(3n){
  margin: 0 0 30px 0;
}

.images-link-img{
  display: block;
  position: relative;
}

.images-link-buttons{
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 370px;
  height: 237px;
}

.images-link-buttons-link,
.images-link-buttons-search{
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.images-link-buttons-link{
  margin: 0 28px 0 0;
}

.images-link-buttons-link,
.images-link-buttons-link:active{
  background-image: url(../img/icons/latest-link.svg);
}

.images-link-buttons-search,
.images-link-buttons-search:active{
  background-image: url(../img/icons/latest-search.svg);
}

.images-link-buttons-link:hover{
  background-image: url(../img/icons/latest-link-grey.svg);
}

.images-link-buttons-search:hover{
  background-image: url(../img/icons/latest-search-grey.svg);
}

.latest-images-link-content{
  position: relative;
  padding: 30px 30px 27px 30px;
  box-sizing: border-box;
}

.latest-images-link-content::before{
  content: "";
  position: absolute;
  top: -30px;
  left: 19px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
}

.images-link-header{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  @include sans-serif('Raleway');
  margin: 0;
}

.images-link-text{
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
  margin: 0;
}

.latest-images-link:hover{
  background-color: #362f2d;

  .images-link-img{
    background: #000;
    opacity: 0.6;
  }

  .images-link-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .latest-images-link-content::before{
    border-bottom: 15px solid #362f2d;
  }

  .images-link-header{
    color: #ffffff;
  }

  .images-link-text{
    color: #c7b299;
  }
}

.latest-button{
  display: block;
  @include sans-serif('Raleway');
  padding: 10px 45px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #998675;
  border-radius: 3px;
  outline: none;
  border: none;
  border-bottom: 3px solid #736357;
  cursor: pointer;
  margin: 10px auto 0 auto;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.latest-button:hover{
  background-color: #fff;
  color: #998675;
}

.latest-button:active{
  background-color: #998675;
  color: #fff;
}

.video{
  position: relative;
  max-height: 705px;
}

.video-content-button__svg {
  margin: auto;
  fill: #fff;
}

.video-content-button:hover .video-content-button__svg {
  fill: #998675;
}

.video-content-button:active .video-content-button__svg {
  fill: #fff;
  
}

.video-content{
  position: absolute;
  top: 210px;
  left: 685px;
  width: 565px;
  text-align: center;
  color: #fff;
}

.video-content-button{
  display: flex;
  margin: 0 auto 44px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.video-content-header{
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  @include sans-serif('Raleway');
}

.video-content-text{
  margin: 15px 0 0 0;
}

.video-content-time{
  display: block;
  margin: 35px 0 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.mobile{
  background-image: url(../img/mobile-phone.png);
  background-repeat: no-repeat;
  background-position: 423px 79px;
  background-color: #fbfaf8;
  min-height: 695px;
  margin: 0;
  padding: 195px 380px 0 875px;
  box-sizing: border-box;
  color: #8c8c8c;
}

.mobile-content-header{
  margin: 0;
}

.mobile-content-text{
  font-size: 16px;
  line-height: 28px;
  margin: 20px 0 30px 0;
}

.content-list-item{
  position: relative;
  list-style: none;
  line-height: 32px;
  padding: 0 0 0 50px;
  box-sizing: border-box;
}

.content-list-item::before{
  content: ">";
  @include sans-serif('Raleway');
  position: absolute;
  top: 6px;
  left: 0;
  width: 21px;
  height: 21px;
  line-height: 19px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #c7b299;
}

.statistics{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  background-color: #f4f5f8;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  padding: 70px 0 60px 0;
  box-sizing: border-box;
}

.statistics-features{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 140px;
  margin: 0 60px 0 0;
}

.statistics-features:last-child{
  margin: 0;
}

.statistics-features::after{
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 26px 0 0 0;
}


.statistics-features__svg{
  fill: #c7b299;
  margin: 0 0 30px 0;
  transition: 500ms;
}

.statistics-features__svg:hover{
  transform: scale(1.2);
}

.statistics-features-title{
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 0;
}

.statistics-features-txt{
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin: 15px 0 0 0;
}

.posts{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px;
  box-sizing: border-box;
}

.posts-content{
  width: 100%;
}

.posts-cart{
  position: relative;
  max-width: 370px;
  margin: 0 30px 0 0;
  border: 1px solid #f8f8f8;
}

.posts-cart:last-child{
  margin: 0;
}

.posts-cart-img{
  display: block;
}

.posts-cart-content{
  padding: 25px;
  box-sizing: border-box;
}

.posts-cart-header{
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  margin: 0;
  @include sans-serif('Raleway');
}

.posts-cart-text{
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 15px 0 15px 0;
}

.posts-cart-link{
  position: relative;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #c7b299;
  text-transform: capitalize;
  padding: 0 15px 0 0;
  box-sizing: border-box;
}

.posts-cart-link::after{
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
}

.posts-cart-link:hover{
  color: #d1d1d1;
}

.posts-cart-link:hover::after{
  border-left: 5px solid #d1d1d1;
}

.posts-cart-link:active{
  color: #c7b299;
}

.posts-cart-link:active::after{
  border-left: 5px solid #c7b299;
}

.posts-cart-calendar{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50px;
  top: 20px;
  left: 20px;
  border-radius: 3px;
}

.posts-cart:hover{
  background-color: #362f2d;

  .posts-cart-img{
    background: #000;
    opacity: 0.6;
  }
  
  .posts-cart-header{
    color: #c7b299;
  }
  
  .posts-cart-text{
    color: #fff
  }

  .cart-calendar-day{
    background-color: #c7b299;
  }
  .cart-calendar-month{
    background-color: #a48d72;
  }
}

.cart-calendar-day{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  background-color: #363636;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

.cart-calendar-month{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25px;
  background-color: #252525;
  @include sans-serif('Roboto');
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.posts-buttons{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.posts-buttons-item{
  border: 1px solid #c7b299;
  outline: none;
  border-radius: 50%;
  color: #c7b299;
  background-color: #fff;
  @include sans-serif('Raleway');
  cursor: pointer;
}

.posts-buttons-item:first-child{
  margin: 0 8px 0 0;
}

.posts-buttons-item:hover{
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
}

.posts-buttons-item:active{
  border: 1px solid #c7b299;
  color: #c7b299;
}

.partners{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, .65) url(../img/partners-bground.jpg);
  background-size: cover;
  background-blend-mode: darken;
  padding: 140px;
  box-sizing: border-box;
}

.partners-link{
  margin: 0 90px 0 0;
}

.partners-link:last-child{
  margin: 0;
}

.footer-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #191919;
  padding: 80px 80px 60px 80px;
  box-sizing: border-box;
}

.footer-content-about, .footer-content-div{
  max-width: 270px;
  margin: 0 30px 0 0;
}

.footer-content-div{
  padding: 15px 0 0 0;
  box-sizing: border-box;
}

.footer-content-div:last-child{
  margin: 0;
}

.footer-content-about-logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.footer-content-about-logo-img{
  fill: #fff;
  width: 64px;
  height: 56px;
}

.footer-content-about-logo-text{
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  @include sans-serif('Raleway');
}

.footer-content-about-logo:hover{
  .footer-content-about-logo-img{
    fill: #c7b299;
  }
  .footer-content-about-logo-text{
    color: #c7b299;
  }
}

.footer-content-about-logo:active{
  .footer-content-about-logo-img{
    fill: #fff;
  }
  .footer-content-about-logo-text{
    color: #fff;
  }
}

.footer-content-about-text{
  margin: 20px 0 15px 0;
  font-size: 14px;
  color: #555555;
}

.footer-content-about-button{
  position: relative;
  padding: 0 15px 0 0;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #d1d1d1;
  text-transform: capitalize;
}

.footer-content-about-button::after{
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
}

.footer-content-about-button:hover{
  color: #c7b299;
}

.footer-content-about-button:hover::after{
  border-left: 5px solid #c7b299;
}

.footer-content-about-button:active{
  color: #d1d1d1;
}

.footer-content-about-button:active::after{
  border-left: 5px solid #d1d1d1;
}

.footer-content-div-header{
  display: block;
  margin: 0 0 20px 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  @include sans-serif('Raleway');
}

.footer-content-recent-article{
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  text-decoration: none;
}

.footer-hr-bottom:not(:last-child)::after{
  content: "";
  display: block;
  margin: 15px 0;
  height: 2px;
  width: 100%;
  background-color: #252525;
}

.footer-content-recent-article:hover{
  color: #c7b299;
}

.footer-content-recent-article:active{
  color: #555555;
}

.footer-content-recent-article-time{
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}

.footer-content-recent-article:hover .footer-content-recent-article-time{
  color: #ffffff;
}

.footer-content-recent-article:active .footer-content-recent-article-time{
  color: #363636;
}

.twitter-item-text{
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.twitter-item-time{
  font-size: 12px;
  line-height: 20px;
  color: #363636;
}

.twitter-style{
  color: #00bff3;
  text-decoration: none;
  cursor: pointer;
}

.twitter-link{
  text-decoration: none;
  cursor: pointer;
}

.footer-content-widget{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-content-widget-header{
  width: 100%;
}

.footer-content-widget-img{
  margin: 0 0 10px 0;
}

.footer-copiright{
  background-color: #111111;
  padding: 52px 375px 45px 375px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-copiright{
  display: flex;
  justify-content: space-between;
}

.footer-copiright-link{
  text-decoration: none;
  color: #555555;
  cursor: pointer;
}

.footer-copiright-link:hover{
  color: #c7b299;
}

.footer-copiright-link:active{
  color: #555555;
}

.footer-copiright-link::before{
  content: " | ";
  color: #555555;
}

.footer-copiright-link:first-child::before{
  content: "";
  margin: 0;
}

.footer-fix-link, 
.footer-fix-link:hover, 
.footer-fix-link:active{
  color: #959595;
}

.footer-fix-link::before{
  color: #555555;
}

@media (max-width: 576px){
  .conteiner {
    width: 100%;
  }
  .header-top-line{
    width: 100%;
    height: auto;
  }

  #mobile-menu-checkbox {
    opacity: 0;
  }

  .mobile-menu-button {
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 1;
}

  .mobile-menu-burger,
  .mobile-menu-burger::before,
  .mobile-menu-burger::after{
    display: block;
    position: absolute;
    width: 64px;
    height: 7px;
    background-color: #fff;
  }

  .mobile-menu-burger::before {
    content: '';
    top: -16px;
  }

  .mobile-menu-burger::after {
    content: '';
    top: 16px;
  }

  .top-line-navigation-menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }

  .top-line-navigation-menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .top-line-navigation-menu-item:hover {
    background-color: #CFD8DC;
  }

  #mobile-menu-checkbox:checked ~ 
  .mobile-menu-button >
  .mobile-menu-burger {
    background-color: #c7b299;
    transform: rotate(45deg);
  }
  #mobile-menu-checkbox:checked ~ 
  .mobile-menu-button >
  .mobile-menu-burger::before {
    top: 0;
    background-color: #c7b299;
  }
  #mobile-menu-checkbox:checked ~ 
  .mobile-menu-button >
  .mobile-menu-burger::after {
    top: 0;
    background-color: #c7b299;
    transform: rotate(90deg);
  }
  #mobile-menu-checkbox:checked ~ 
  .top-line-navigation-menu {
    visibility: visible;
    left: 0;
  }

  .header-carousel{
    display: none;
  }
  .top-line-navigation{
    flex-wrap: wrap;
  }
  .top-line-navigation-menu{
    flex-direction: column;
    width: 100%;
  }
  .top-line-navigation-card,
  .top-line-navigation-search{
    display: none;
  }

  .advantage{
    margin: 0 10px;
    justify-content: space-between;
  }

  .advantage-features{
    width: 49%;
    margin: 10px 0 0 0;
  }

  .portfolio{
    margin: 0;
  }

  .portfolio-multi_photo {
    width: 100%;
    min-height: 175px;
    background-image: url(../img/portfolio_center.jpg), url(../img/portfolio_left.jpg), url(../img/portfolio_right.jpg);
    background-size: 50%, 40%, 40%;
  }

  .advertising-wrapper {
    width: 330px;
    margin: 0 10px 0 0;
  }

  .latest{
    margin: 60px 0 0 0;
    padding: 0;
  }

  .latest-buttons-item{
    margin: 10px 10px 0 0;
  }

  .latest-images {
    justify-content: center;
    width: 100%;
  }
  .latest-images-link{
    margin: 30px 0 0 0;
  }

  .video-file{
    display: none;
  }

  .video{
    min-height: 300px;
  }

  .video-content{
    top: 15px;
    left: 0;
    width: 100%;
    background-image: url(../img/video-poster.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }

  .video-content-button {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .video-content-header,
  .video-content-text,
  .video-content-time{
    display: none;
  }

  .mobile{
    background-position: 40px 350px;
    padding: 80px 10px 0 40px;
    background-size: 250px 345px;
  }

  .mobile-content-header,
  .mobile-content-text{
    margin: 0 30px 0 0;
  }

  .mobile-content-list{
    padding: 0 0 0 225px;
  }
  .content-list-item{
    padding: 0 0 0 35px;
  }

  .statistics{
    padding: 0;
  }

  .statistics-features, .statistics-features:last-child{
    width: 18%;
    min-width: 0;
    margin: 10px 5px;
  }

  .statistics-features__svg{
    transform: scale(0.8);
  }

  .statistics-features__svg:hover{
    transform: scale(1);
  }

  .statistics-features-title{
    font-size: 36px;
    line-height: 24px;
  }

  .statistics-features-txt{
    text-align: center;
    min-height: 40px;
    align-self: center;
  }

  .posts-cart{
    margin: 20px 0 0 0;
  }

  .partners{
    padding: 30px;
    justify-content: space-between;
  }

  .partners-link{
    margin: 0;
  }

  .partners-img{
    max-width: 75px;
    max-height: 75px;
    margin: 0;
  }

  .footer-content-about{
    padding: 70px 0;
    max-width: 100%;
  }

  .footer-content-about{
    padding: 0;
    margin: 0;
  }

  .footer-content-div{
    margin: 10px 0 0 0;
    max-width: 100%;
  }

  .footer-copiright{
    padding: 70px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-copiright-autors{
    margin: 35px 0 0 0;
  }
}