/* Montserrat FONTS */
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../fonts/montserrat/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/montserrat/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/montserrat/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Italic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Italic.woff") format("woff"), url("../fonts/montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Regular.woff") format("woff"), url("../fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../fonts/montserrat/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ThinItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ThinItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Bold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Light.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Light.woff") format("woff"), url("../fonts/montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../fonts/montserrat/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Black.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Black.woff") format("woff"), url("../fonts/montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/montserrat/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../fonts/montserrat/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-BlackItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BlackItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/montserrat/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/montserrat/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-BoldItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../fonts/montserrat/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-LightItalic.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-LightItalic.woff") format("woff"), url("../fonts/montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../fonts/montserrat/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/Montserrat-Thin.woff2") format("woff2"), url("../fonts/montserrat/Montserrat-Thin.woff") format("woff"), url("../fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* Montserrat FONTS END */
/* Raleway FONTS END */
@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-SemiBoldItalic.eot");
  src: local("Raleway SemiBold Italic"), local("Raleway-SemiBoldItalic"), url("../fonts/raleway/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-SemiBoldItalic.woff2") format("woff2"), url("../fonts/raleway/Raleway-SemiBoldItalic.woff") format("woff"), url("../fonts/raleway/Raleway-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-ExtraLightItalic.eot");
  src: local("Raleway ExtraLight Italic"), local("Raleway-ExtraLightItalic"), url("../fonts/raleway/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-ExtraLightItalic.woff2") format("woff2"), url("../fonts/raleway/Raleway-ExtraLightItalic.woff") format("woff"), url("../fonts/raleway/Raleway-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-MediumItalic.eot");
  src: local("Raleway Medium Italic"), local("Raleway-MediumItalic"), url("../fonts/raleway/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-MediumItalic.woff2") format("woff2"), url("../fonts/raleway/Raleway-MediumItalic.woff") format("woff"), url("../fonts/raleway/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-ExtraBoldItalic.eot");
  src: local("Raleway ExtraBold Italic"), local("Raleway-ExtraBoldItalic"), url("../fonts/raleway/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/raleway/Raleway-ExtraBoldItalic.woff") format("woff"), url("../fonts/raleway/Raleway-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Regular.eot");
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/raleway/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Regular.woff2") format("woff2"), url("../fonts/raleway/Raleway-Regular.woff") format("woff"), url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-ExtraBold.eot");
  src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url("../fonts/raleway/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-ExtraBold.woff2") format("woff2"), url("../fonts/raleway/Raleway-ExtraBold.woff") format("woff"), url("../fonts/raleway/Raleway-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-BlackItalic.eot");
  src: local("Raleway Black Italic"), local("Raleway-BlackItalic"), url("../fonts/raleway/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-BlackItalic.woff2") format("woff2"), url("../fonts/raleway/Raleway-BlackItalic.woff") format("woff"), url("../fonts/raleway/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Light.eot");
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/raleway/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Light.woff2") format("woff2"), url("../fonts/raleway/Raleway-Light.woff") format("woff"), url("../fonts/raleway/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Black.eot");
  src: local("Raleway Black"), local("Raleway-Black"), url("../fonts/raleway/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Black.woff2") format("woff2"), url("../fonts/raleway/Raleway-Black.woff") format("woff"), url("../fonts/raleway/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Medium.eot");
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/raleway/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Medium.woff2") format("woff2"), url("../fonts/raleway/Raleway-Medium.woff") format("woff"), url("../fonts/raleway/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-ExtraLight.eot");
  src: local("Raleway ExtraLight"), local("Raleway-ExtraLight"), url("../fonts/raleway/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-ExtraLight.woff2") format("woff2"), url("../fonts/raleway/Raleway-ExtraLight.woff") format("woff"), url("../fonts/raleway/Raleway-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Italic.eot");
  src: local("Raleway Italic"), local("Raleway-Italic"), url("../fonts/raleway/Raleway-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Italic.woff2") format("woff2"), url("../fonts/raleway/Raleway-Italic.woff") format("woff"), url("../fonts/raleway/Raleway-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Thin.eot");
  src: local("Raleway Thin"), local("Raleway-Thin"), url("../fonts/raleway/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Thin.woff2") format("woff2"), url("../fonts/raleway/Raleway-Thin.woff") format("woff"), url("../fonts/raleway/Raleway-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-SemiBold.eot");
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/raleway/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/raleway/Raleway-SemiBold.woff") format("woff"), url("../fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-LightItalic.eot");
  src: local("Raleway Light Italic"), local("Raleway-LightItalic"), url("../fonts/raleway/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-LightItalic.woff2") format("woff2"), url("../fonts/raleway/Raleway-LightItalic.woff") format("woff"), url("../fonts/raleway/Raleway-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/raleway/Raleway-Bold.eot");
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway/Raleway-Bold.woff2") format("woff2"), url("../fonts/raleway/Raleway-Bold.woff") format("woff"), url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Raleway FONTS END */
.transition, .transition:hover {
  -webkit-transition: 400ms;
  transition: 400ms;
}

.transition:active {
  -webkit-transition: 100ms;
  transition: 100ms;
}

.standart-h3 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  font-family: "Raleway", "Arial", sans-serif;
}

.section-content {
  max-width: 760px;
  margin: 0 auto 40px auto;
  text-align: center;
}

.section-content-text {
  margin: 24px 0 0 0;
}

.conteiner {
  width: 1920px;
  margin: 0 auto;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.site-header {
  background: rgba(0, 0, 0, 0.65) url(../img/header-bground.jpg);
  background-size: cover;
  background-blend-mode: darken;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}

.header-top-line {
  width: 1168px;
  height: 56px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-line-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.top-line-logo-img {
  fill: #fff;
  width: 64px;
  height: 56px;
}

.top-line-logo-text {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-family: "Raleway", "Arial", sans-serif;
}

.top-line-logo:hover .top-line-logo-img {
  fill: #c7b299;
}

.top-line-logo:hover .top-line-logo-text {
  color: #c7b299;
}

.top-line-logo:active .top-line-logo-img {
  fill: #fff;
}

.top-line-logo:active .top-line-logo-text {
  color: #fff;
}

.top-line-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
}

.top-line-navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 35px;
}

.top-line-navigation-menu-item {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 0 0 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.top-line-navigation-menu-item:hover {
  color: #c7b299;
}

.top-line-navigation-menu-item:active {
  color: #fff;
}

.top-line-navigation-card {
  height: 24px;
  margin: 0 0 0 28px;
}

.top-line-navigation-card .navigation-card__svg {
  fill: #fff;
}

.top-line-navigation-card:hover .navigation-card__svg {
  fill: #c7b299;
}

.top-line-navigation-card:active .navigation-card__svg {
  fill: #fff;
}

.top-line-navigation-search {
  width: 24px;
  height: 24px;
  margin: 0 0 0 28px;
  position: relative;
}

.navigation-search__lable {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.navigation-search__svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.navigation-search__lable:hover .navigation-search__svg {
  fill: #c7b299;
}

.navigation-search__lable:active .navigation-search__svg {
  fill: #fff;
}

.navigation-search_input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 40px;
  left: -164px;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  font-family: "Montserrat", "Arial", sans-serif;
}

.navigation-search_input:focus {
  width: 195px;
  min-height: 20px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease;
  border: 2px solid #fff;
}

.navigation-search_input:focus ~ .navigation-search__lable > .navigation-search__svg {
  fill: #c7b299;
}

.header-carousel {
  margin: 285px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel-left, .carousel-right {
  display: block;
  width: 20px;
  height: 20px;
  margin: 40px;
  position: relative;
}

.carousel-left::after,
.carousel-right::after {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid #fff;
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}

.carousel-left::after,
.carousel-right::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.carousel-left::before,
.carousel-right::before {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border: 2px solid #fff;
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0.5;
}

.carousel-left::before,
.carousel-right::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.carousel-left:hover::before,
.carousel-left:hover::after,
.carousel-right:hover::before,
.carousel-right:hover::after {
  border: 2px solid #c7b299;
}

.carousel-left:active::before,
.carousel-left:active::after,
.carousel-right:active::before,
.carousel-right:active::after {
  border: 2px solid #fff;
}

.header-content {
  text-align: center;
  width: 600px;
  margin: 0 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-content-preview {
  display: block;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  font-family: "Raleway", "Arial", sans-serif;
}

.header-content-h1 {
  display: block;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
}

.header-content-button {
  display: inline-block;
  border: none;
  margin: 52px auto 0 auto;
  padding: 14px 37px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  color: #fff;
  border-bottom: 3px solid #736357;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  font-family: "Raleway", "Arial", sans-serif;
  cursor: pointer;
  word-break: break-all;
}

.header-content-text {
  margin: 19px 0 0 0;
}

.header-content-button:hover {
  background-color: #fff;
  color: #998675;
}

.header-content-button:active {
  background-color: #998675;
  color: #fff;
}

.site-header-navigation {
  width: 100%;
  margin: 327px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-header-navigation-marker {
  display: block;
  text-decoration: none;
  width: 13px;
  height: 13px;
  opacity: 0.5;
  background-color: #ffffff;
  border: 2px solid transparent;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.site-header-navigation-marker:hover {
  background-color: black;
  border: 2px solid #d3c1ad;
}

.site-header-navigation-marker:active {
  border: 2px solid transparent;
  background-color: #ffffff;
}

.advantage {
  margin: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  margin: 0 34px 0 0;
}

.advantage-features::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}

.advantage-features:hover .advantage-features-icon {
  fill: #c7b299;
}

.advantage-features:hover .advantage-features-title {
  color: #c7b299;
}

.advantage-features:hover::after {
  background-color: #c7b299;
}

.advantage-features-icon {
  display: block;
  fill: #555555;
  margin: 0 0 30px 0;
}

.advantage-features-title {
  width: 100%;
  margin: 0 0 19px 0;
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.advantage-features-txt {
  text-align: center;
  color: #8c8c8c;
  font-size: 14px;
  margin: 0 0 30px 0;
}

.portfolio {
  margin: 80px 0 0 0;
  padding: 80px 0 0 0;
  background-color: #fbfaf8;
}

.portfolio-multi_photo {
  width: 1228px;
  margin: 0 auto;
  min-height: 482px;
  background-image: url("../img/portfolio_center.jpg"), url("../img/portfolio_left.jpg"), url("../img/portfolio_right.jpg");
  background-size: 770px 482px, 770px 400px, 770px 400px;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

.advertising {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(0deg, #211b19 0%, #4e3427 100%);
}

.advertising-wrapper {
  width: 531px;
  margin: 0 470px 0 0;
}

.advertising-title {
  width: 100%;
  margin: 0;
  font-size: 28px;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  font-family: "Raleway", "Arial", sans-serif;
}

.advertising-title span {
  color: #c7b299;
}

.advertising-txt {
  width: 100%;
  margin: 0;
  font-size: 18px;
  color: #615855;
  line-height: 1.2;
  text-align: left;
}

.advertising-button {
  width: 170px;
  min-height: 50px;
  border: none;
  border-bottom: 2px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  border-bottom: 3px solid #736357;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
          box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
  cursor: pointer;
  outline: none;
}

.advertising-button-txt {
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif;
}

.advertising-button:hover {
  background-color: #fff;
}

.advertising-button:hover .advertising-button-txt {
  color: #998675;
}

.advertising-button:active {
  background-color: #998675;
}

.advertising-button:active .advertising-button-txt {
  color: #fff;
}

.latest {
  margin: 80px 0 0 0;
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

.latest-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 10px 0;
}

.latest-buttons-item {
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #998675;
  border-radius: 3px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 3px solid #736357;
  cursor: pointer;
  margin: 0 10px 0 0;
  text-transform: capitalize;
}

.latest-buttons-item:hover {
  background-color: #fff;
  color: #998675;
}

.latest-buttons-item:active {
  background-color: #998675;
  color: #fff;
}

.latest-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1170px;
  margin: 0 auto;
}

.latest-images-link {
  position: relative;
  background-color: #fbfaf8;
  text-decoration: none;
  margin: 30px 30px 0 0;
  cursor: auto;
}

.latest-images-link:nth-child(3n) {
  margin: 30px 0 0 0;
}

.images-link-img {
  display: block;
  position: relative;
}

.images-link-buttons {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 370px;
  height: 237px;
}

.images-link-buttons-link,
.images-link-buttons-search {
  background-color: transparent;
  background-size: cover;
  border: none;
  outline: none;
  height: 26px;
  width: 26px;
  cursor: pointer;
}

.images-link-buttons-link {
  margin: 0 28px 0 0;
}

.images-link-buttons-link,
.images-link-buttons-link:active {
  background-image: url(../img/icons/latest-link.svg);
}

.images-link-buttons-search,
.images-link-buttons-search:active {
  background-image: url(../img/icons/latest-search.svg);
}

.images-link-buttons-link:hover {
  background-image: url(../img/icons/latest-link-grey.svg);
}

.images-link-buttons-search:hover {
  background-image: url(../img/icons/latest-search-grey.svg);
}

.latest-images-link-content {
  position: relative;
  padding: 30px 30px 27px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.latest-images-link-content::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 19px;
  border: 15px solid transparent;
  border-bottom: 15px solid #fbfaf8;
}

.images-link-header {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  font-family: "Raleway", "Arial", sans-serif;
  margin: 0 0 14px 0;
}

.images-link-text {
  font-size: 14px;
  line-height: 20px;
  color: #d1d1d1;
}

.latest-images-link:hover {
  background-color: #362f2d;
}

.latest-images-link:hover .images-link-img {
  background: #000;
  opacity: 0.6;
}

.latest-images-link:hover .images-link-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-images-link:hover .latest-images-link-content::before {
  border-bottom: 15px solid #362f2d;
}

.latest-images-link:hover .images-link-header {
  color: #ffffff;
}

.latest-images-link:hover .images-link-text {
  color: #c7b299;
}

.latest-button {
  display: block;
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  background-color: #998675;
  border-radius: 3px;
  outline: none;
  border: none;
  border-bottom: 3px solid #736357;
  cursor: pointer;
  margin: 40px auto 0 auto;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

.latest-button:hover {
  background-color: #fff;
  color: #998675;
}

.latest-button:active {
  background-color: #998675;
  color: #fff;
}

.video {
  position: relative;
  max-height: 705px;
}

.video-content-button__svg {
  margin: auto;
  fill: #fff;
}

.video-content-button:hover .video-content-button__svg {
  fill: #998675;
}

.video-content-button:active .video-content-button__svg {
  fill: #fff;
}

.video-content {
  position: absolute;
  top: 210px;
  left: 685px;
  width: 550px;
  text-align: center;
  color: #fff;
}

.video-content-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 44px auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.video-content-header {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
}

.video-content-text {
  margin: 28px 0 0 0;
}

.video-content-time {
  display: block;
  margin: 40px 0 0 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.mobile {
  background-image: url(../img/mobile-phone.png);
  background-repeat: no-repeat;
  background-position: 423px 79px;
  background-color: #fbfaf8;
  min-height: 695px;
  margin: 0;
  padding: 195px 380px 0 875px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8c8c8c;
}

.content-list-item {
  position: relative;
  list-style: none;
  line-height: 32px;
  padding: 0 0 0 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content-list-item::before {
  content: ">";
  font-family: "Raleway", "Arial", sans-serif;
  position: absolute;
  top: 6px;
  left: 0;
  width: 21px;
  height: 21px;
  line-height: 19px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #c7b299;
}

.statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
  padding: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.statistics-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 70px 0 0;
}

.statistics-features::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 30px 0 0 0;
}

.statistics-features__svg {
  fill: #c7b299;
  margin: 0 0 30px 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.statistics-features__svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.statistics-features-title {
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 0;
}

.statistics-features-txt {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
  margin: 21px 0 0 0;
}

.posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts-content {
  width: 100%;
}

.posts-cart {
  position: relative;
  max-width: 370px;
  margin: 0 30px 0 0;
  border: 1px solid #f8f8f8;
}

.posts-cart-img {
  display: block;
}

.posts-cart-content {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts-cart-header {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
  font-family: "Raleway", "Arial", sans-serif;
}

.posts-cart-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
  margin: 19px 0 27px 0;
}

.posts-cart-link {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #c7b299;
  text-transform: capitalize;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.posts-cart-link::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  border: 5px solid transparent;
  border-left: 5px solid #c7b299;
}

.posts-cart-link:hover {
  color: #d1d1d1;
}

.posts-cart-link:hover::after {
  border-left: 5px solid #d1d1d1;
}

.posts-cart-link:active {
  color: #c7b299;
}

.posts-cart-link:active::after {
  border-left: 5px solid #c7b299;
}

.posts-cart-calendar {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50px;
  top: 20px;
  left: 20px;
  border-radius: 3px;
}

.posts-cart:hover {
  background-color: #362f2d;
}

.posts-cart:hover .posts-cart-img {
  background: #000;
  opacity: 0.6;
}

.posts-cart:hover .posts-cart-header {
  color: #c7b299;
}

.posts-cart:hover .posts-cart-text {
  color: #fff;
}

.posts-cart:hover .cart-calendar-day {
  background-color: #c7b299;
}

.posts-cart:hover .cart-calendar-month {
  background-color: #a48d72;
}

.cart-calendar-day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  background-color: #363636;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
}

.cart-calendar-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 25px;
  background-color: #252525;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.posts-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0 0 0;
}

.posts-buttons-item {
  border: 1px solid #c7b299;
  outline: none;
  border-radius: 50%;
  color: #c7b299;
  background-color: #fff;
  font-family: "Raleway", "Arial", sans-serif;
  cursor: pointer;
}

.posts-buttons-item:first-child {
  margin: 0 8px 0 0;
}

.posts-buttons-item:hover {
  border: 1px solid #d1d1d1;
  color: #d1d1d1;
}

.posts-buttons-item:active {
  border: 1px solid #c7b299;
  color: #c7b299;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.65) url(../img/partners-bground.jpg);
  background-size: cover;
  background-blend-mode: darken;
  padding: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners-link {
  margin: 0 90px 0 0;
}

.partners-link:last-child {
  margin: 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #191919;
  padding: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-content-about, .footer-content-div {
  max-width: 270px;
  margin: 0 30px 0 0;
}

.footer-content-div {
  padding: 28px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-content-div:last-child {
  margin: 0;
}

.footer-content-about-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  outline: none;
}

.footer-content-about-logo-img {
  fill: #fff;
  width: 64px;
  height: 56px;
}

.footer-content-about-logo-text {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-family: "Raleway", "Arial", sans-serif;
}

.footer-content-about-logo:hover .footer-content-about-logo-img {
  fill: #c7b299;
}

.footer-content-about-logo:hover .footer-content-about-logo-text {
  color: #c7b299;
}

.footer-content-about-logo:active .footer-content-about-logo-img {
  fill: #fff;
}

.footer-content-about-logo:active .footer-content-about-logo-text {
  color: #fff;
}

.footer-content-about-text {
  margin: 29px 0 33px 0;
  font-size: 14px;
  color: #555555;
}

.footer-content-about-button {
  position: relative;
  padding: 0 15px 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #d1d1d1;
  text-transform: capitalize;
}

.footer-content-about-button::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  border: 5px solid transparent;
  border-left: 5px solid #d1d1d1;
}

.footer-content-about-button:hover {
  color: #c7b299;
}

.footer-content-about-button:hover::after {
  border-left: 5px solid #c7b299;
}

.footer-content-about-button:active {
  color: #d1d1d1;
}

.footer-content-about-button:active::after {
  border-left: 5px solid #d1d1d1;
}

.footer-content-div-header {
  display: block;
  margin: 0 0 30px 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  font-family: "Raleway", "Arial", sans-serif;
}

.footer-content-recent-article {
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  text-decoration: none;
}

.footer-hr-bottom:not(:last-child)::after {
  content: "";
  display: block;
  margin: 23px 0;
  height: 2px;
  width: 100%;
  background-color: #252525;
}

.footer-content-recent-article:hover {
  color: #c7b299;
}

.footer-content-recent-article:active {
  color: #555555;
}

.footer-content-recent-article-time {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}

.footer-content-recent-article:hover .footer-content-recent-article-time {
  color: #ffffff;
}

.footer-content-recent-article:active .footer-content-recent-article-time {
  color: #363636;
}

.twitter-item-text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

.twitter-item-time {
  font-size: 12px;
  line-height: 20px;
  color: #363636;
}

.twitter-style {
  color: #00bff3;
  text-decoration: none;
  cursor: pointer;
}

.twitter-link {
  text-decoration: none;
  cursor: pointer;
}

.footer-content-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-widget-header {
  width: 100%;
}

.footer-content-widget-img {
  margin: 0 0 10px 0;
}

.footer-copiright {
  background-color: #111111;
  padding: 52px 80px 45px 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-copiright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copiright-link {
  text-decoration: none;
  color: #555555;
  cursor: pointer;
}

.footer-copiright-link:hover {
  color: #c7b299;
}

.footer-copiright-link:active {
  color: #555555;
}

.footer-copiright-link::before {
  content: " | ";
  color: #555555;
}

.footer-copiright-link:first-child::before {
  content: "";
  margin: 0;
}

.footer-fix-link,
.footer-fix-link:hover,
.footer-fix-link:active {
  color: #959595;
}

.footer-fix-link::before {
  color: #555555;
}

@media (max-width: 576px) {
  .conteiner {
    width: 100%;
  }
  .header-top-line {
    width: 100%;
    height: auto;
  }
  .header-carousel {
    display: none;
  }
  .top-line-navigation {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top-line-navigation-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .top-line-navigation-card,
  .top-line-navigation-search {
    display: none;
  }
  .portfolio-multi_photo {
    width: 100%;
    min-height: 175px;
    background-image: url(../img/portfolio_center.jpg), url(../img/portfolio_left.jpg), url(../img/portfolio_right.jpg);
    background-size: 50%, 40%, 40%;
  }
  .advertising-wrapper {
    width: 330px;
    margin: 0 10px 0 0;
  }
  .latest {
    margin: 60px 0 0 0;
    padding: 0;
  }
  .latest-images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .latest-images-link {
    margin: 30px 0 0 0;
  }
  .video {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */