$site-width: 1280px;
$header-line-width: 1170px;

.rale{
  font-family: 'Raleway', sans-serif;
}

.conteiner {
  width: $site-width;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.site-header{
  background: url(../img/bg_photo_11949.png) 100% no-repeat;
  padding: 40px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-top-line{
  width: $header-line-width;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-line-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.top-line-logo-img{
  fill: #fff;
  width: 64px;
  height: 56px;
}

.top-line-logo-text{
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  font-family: 'Raleway', sans-serif;
}

.top-line-navigation{
  display: flex;
}

.top-line-navigation-menu-item{
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  margin: 0 0 0 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.top-line-navigation-menu-item:hover{
  color: #c7b299;
}

.top-line-navigation-menu-item:active{
  color: #fff;
}

.top-line-navigation-card{
  fill: #fff;
  margin: 0 0 0 63px;
}

.top-line-navigation-search{
  fill: #fff;
  margin: 0 0 0 28px;
}

.header-content{
  margin: 285px 0 0 0;
  text-align: center;
  padding: 0 300px;
  box-sizing: border-box;
  position: relative;
}

.header-content:before{
  content: "";
  position: absolute;
  background-image: url(../img/left_11970.png);
  background-size: cover;
  top: 100px;
  left: 0px;
  width: 40px;
  height: 73px;
  opacity: 0.5;
}

.header-content:after{
  content: "";
  position: absolute;
  background-image: url(../img/right_11969.png);
  background-size: cover;
  top: 100px;
  right: 0px;
  width: 40px;
  height: 73px;
  opacity: 0.5;
}

.header-content-preview{
  display: block;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
}

.header-content-h1{
  display: block;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
}

.header-content-button{
  display: inline-block;
  margin: 52px 0 0 0;
  padding: 21px 37px;
  box-sizing: border-box;
  background-color: #998675;
  color: white;
  border-radius: 3px;
  text-decoration: none;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
}

.header-content-button:hover{
  background-color: #998675;
  color: white;
}

.header-content-button:active{
  background-color: white;
  color: #998675;
}

.site-header-navigation{
  margin: 100px 0 0 0;
  display: flex;
  align-items: center;
}

.site-header-navigation-marker{
  display: block;
  text-decoration: none;
  width: 15px;
  height: 15px;
  opacity: 0.5;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.site-header-navigation-marker:hover{
  background-color: black;
  width: 11px;
  height: 11px; /* Не стал делать увеличенные, чтобы не оборачивать в дополнительный DIV. В противном случае они будут прыгать по горизонтали */
  border: 2px solid #d3c1ad;
}

.site-header-navigation-marker:active{
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: none;
}